<template>
    <div>
        <div v-for="(value, key) in field.locales">
            <span v-if="field.value[key] != null">
                {{value}} : {{field.value[key]}}
            </span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['resourceName', 'field'],
    computed: {
        value() {
            for (let index = 0; index < 3; index++) {;
                
            }
            return this.field.value[this.field.indexLocale] || '—'
        }
    }
}
</script>